<div class="cbi-page-actions">
	<input class="cbi-button cbi-button-apply" type="button" name="cbi.apply" value=<%:Detailed%> onclick="location.href='<%=controller%>/admin/network/network'"></input>
	<input class="cbi-button cbi-button-apply" type="button" name="cbi.apply" value=<%:Previous%> onclick="location.href='<%=controller%>/admin/quicksettings/admin'"></input>
	<input class="cbi-button cbi-button-apply" type="button" name="cbi.apply" value=<%:Next%> onclick="location.href='<%=controller%>/admin/quicksettings/wifi'"></input>
</div>
